//app-navigation-bar {
//  position: fixed;
//  top: 0;
//  left: 0;
//  right: 0;
//  z-index: 998;
//}
//
//.app-navigation-bar {
//  position: fixed;
//  top: 0;
//  left: 0;
//  right: 0;
//  z-index: 998;
//}
